body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 0 auto;
}
div {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #4553a0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #5e6cbe;
}

.c-red{
    color: red;
}

.next-btn{
    background-color: #0e218d;
    color: white;
    padding: 7px 14px;
    border-radius: 5px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

#resendOTPBtn{
    background-color: #0e218d;
    padding: 7px 14px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

#logo{
    margin-bottom: -15px;
}

p {
    margin: 10px 0;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}